h2 {
  color: black;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 30px
}

html { 
	background: url(europe.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	}

h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 120px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: black;
	}
div.gallery {
    border: 5px solid #FFFFFF;
}

div.gallery:hover {
    border: 5px solid #777;
}

div.gallery img {
    width: 150;
    height: 200;
}

div.desc {
    padding: 15px;
    text-align: center;
	color: black;
	size: 25;
	background-color: #FAEBD7;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.5;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
